<div class="jumbotron" ng-controller="GeteppaCtrl">
  <h3 class="text-muted">Primary EPPA is {{eppa}} (using the "getEppa" function)</h3>  
</div>

<div class="row marketing" ng-controller="GetattributesCtrl">
  <h2 class="text-muted">Attributes in table form below (using the "getAttributes" function)</h2>
  <table class="table table-striped" style="border: 1px solid black;">
    <thead>
      <tr>
        <th style="text-align:left">Attribute Name</th>
        <th style="text-align:left">Attribute Value</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="(key, value) in attributes">
        <td> {{key}} </td> <td> {{ value }} </td>
      </tr>
    </tbody>
  </table>  
</div>
